:host {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    list-style: none;
}

@media (min-width: 500px) and (max-width: 768px) {
    :host{
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 499px) {
    :host{
        grid-template-columns: repeat(1, 1fr);
    }
}